.history-container {
    display:flex;
    border: solid 1px black;
    width: 20rem;
	padding: 2rem;
	margin: 3rem;
    flex-direction: column;
    background-color: rgb(240, 234, 227);
    background-size: cover;
}

.history-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.history-list {
    padding: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    background-color: bisque;
    border: 1px solid white;
}